@import "../../variables.scss";
.generic-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  background-color: transparent;
  border: 0.03rem solid #000;
  transition: all 0.4s;
  cursor: pointer;
  width: 25rem;
  height: 8rem;
}

.generic-card:hover {
  background-color: $color-primary;
  color: #fff;
}

.generic-card--text {
  font-size: 1.8rem;
  font-weight: 600;
}

@media (max-width: $breakpoint-mobile-small) {
  .generic-card {
    width: 80%;
    margin: 0 auto;
  }
}
